/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
	content:"";
	display: block;
	clear: both;
}

header {
	width: 100%;
	background-color: yellow;
	padding: 20px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}


.header__title {
	text-align: center;
	padding: 15px 0;
}

.header__nav {
	text-align: center;
}

.header__item {
	display: inline-block;
	margin: 0 5%;
}


.product__images {
	float: left;
	width: 25%;
	height: 300px;
	padding: 10px;
	text-align: center;
}

.product__description {
	height: 40%;
}

.images {
	width: 200px;
	height: 200px;
}